@model gp_.Models.DoctorModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DoctorModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.graduation_uni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.graduation_uni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActivated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActivated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.workplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.workplace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalphonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalphonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.workphonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.workphonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ispart1comp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ispart1comp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jma_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jma_number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
