@model gp_.Models.DoctorModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <!-- <a asp-action="Create">Create New</a>-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.graduation_uni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActivated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.workplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personalphonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.workphonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ispart1comp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jma_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.Display(Model.FirstName)
            </td>
            <td>
                @Html.Display(Model.LastName)
            </td>
            <td>
                @Html.Display(Model.graduation_uni)
            </td>
            <td>
                @Html.Display(Model.isActivated.ToString())
            </td>
            <td>
                @Html.Display(Model.workplace)
            </td>
            <td>
                @Html.Display(Model.status)
            </td>
            <td>
                @Html.Display(Model.personalphonenumber.ToString())
            </td>
            <td>
                @Html.Display(Model.workphonenumber.ToString())
            </td>
            <td>
                @Html.Display(Model.ispart1comp.ToString())
            </td>
            <td>
                @Html.Display(Model.jma_number.ToString())
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>

    you won't be able to use myPHR until an admin activates your account 

    your account would have been activated is there is a tick on is_activated
</div>
